.tours/**
.vscode/**
node_modules/**
packages/mcp-server/**
packages/description-renderer/**
src/**
.gitignore
.space
package.lock.json
tsconfig.json
webpack.config.js
**/*.vsix
.git/**
.github/**
**/*.svg
dist/extension-web.js*
