.tours/**
.vscode/**
node_modules/**
packages/**
src/**
scripts/**
docs/**
.gitignore
.space
package.lock.json
tsconfig.json
webpack.config.js
dist/test/**
dist/extension-web.js*
**/*.vsix
.git/**
.github/**
**/*.svg
